.box-one{
	width: 200px;
	height:100px;
	background-color:#FFDF00 ; 
	margin-bottom: 5px;
}
.box-two{
	width: 200px;
	height:100px;
	background-color:#282828; 
	margin-bottom: 5px;
	font
}
.box-three{
	width: 200px;
	height:100px;
	background-color:#FFDF00 ; 
}